import { forwardRef } from 'react'
import type { Ref, PropsWithChildren } from 'react'

type {{pascalCase name}}Props = {
}

const Base{{pascalCase name}} = (props: PropsWithChildren<{{pascalCase name}}Props>, ref: Ref<any>) => {
  const { {{#if hasChildren}}children, {{/if}}...rest } = props

  return (
    <div ref={ref} {...rest}>
      {{#if hasChildren}}
        {children} 
      {{/if}}
    </div>
  )
}

export const {{pascalCase name}} = forwardRef(Base{{pascalCase name}})